@charset "utf-8";
/* CSS Document */

#cabeceraWeb{
	background-color:#90F
}
nav{
	background-color:#93F
}
#barraLateral{
	background-color:#96F
}
#contenidoPrincipal{
	background-color:#93C
}
#piePrincipal{
	background-color:#969
}